.info-container{
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    background-color: #ededed;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}

.info-container p{
    border-bottom: 1px solid #ccc;;
    padding: 5px;
}